<p>Heb je iemand van HoZT nodig? Ons <a href="/bestuur">bestuur</a> helpt je graag verder. 
Meer weten over de bereikbaarheid (adres, parking) van het <a href="/zwembad">zwembad</a>.<br>
Wil je een gratis testmoment bijwonen? Schrijf je dan <a href="{{ path('enrol_tryout') }}">hier</a> in.</span>
Onze <a href="{{ path('contact_faq') }}">FAQ</a> al eens gelezen?</p>
