<p>Heb je iemand van HoZT nodig? Ons <a href="/bestuur" class="text-red">bestuur</a> helpt je graag verder. 
Meer weten over de bereikbaarheid (adres, parking) van het <a href="/zwembad" class="text-red">zwembad</a>.<br>
Wil je een gratis testmoment bijwonen? Schrijf je dan <a href="{{ path('enrol_tryout') }}">hier</a> in.</span>
Onze <a href="{{ path('contact_faq') }}" class="text-red">FAQ</a> al eens gelezen?</p>
