{% extends 'default.html.twig' %}

{% block title %}Testmomenten{% endblock %}

{% block main %}

  <div class="p-3 mb-4 bg-white shadow-sm">

    <h1 class="text-red">Testmomenten</h1>

    <div class="d-flex justify-content-center" id="api_load_tryout_enrolled">
      <div class="spinner-border m-5" role="status" >
        <span class="sr-only">Loading...</span>
      </div>
    </div>

  </div>


{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('assets/js/api_load_ingeschreven_testmoment.js') }}"></script>
{% endblock %}
