{# templates/emails/contactformulier.html.twig #}
<h3>{{question}}</h3>

<p>{{ message }}</p>

<p>{{ name }}<br/>{{ email }}</p>

<p>&nbsp;</p>
<p>** Dit is een automatisch bericht van <a href="https://www.hozt.be">HoZT.be</a> **</p>
