<!-- NAVBAR
================================================== -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white shadow-sm">
  <div class="container">
  <a class="navbar-brand mr-auto mr-lg-0 text-red pr-3" href="#" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"><img class="mb-2" src="{{ asset('assets/img/logo/Hozt.svg') }}" alt="Hoogstratens Zwem Team" height="40"> <div class="d-none d-md-inline-block">Hoogstratens Zwem Team</div></a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse offcanvas-collapse bg-white" id="navbarOffcanvas">
    <ul class="navbar-nav mr-auto text-center text-lg-left mb-4 mb-lg-0"><!-- container d-flex flex-column flex-md-row justify-content-between -->
      <li class="nav-item {% if currentPath == "/" %}active{% endif%}">
        <a class="nav-link" href="/"><i class="fas fa-swimming-pool"></i> Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if currentPath starts with '/kalender' %}active{% endif%}">
        <a class="nav-link" href="{{ path('calendar') }}"><i class="far fa-calendar-alt d-lg-none"></i> Kalender</a>
      </li>
<!--      <li class="nav-item <?echo $page->isActive('news');?>">
        <a class="nav-link" href="#"><i class="fas fa-newspaper d-md-none"></i> Nieuws</a>
      </li> -->
      <li class="nav-item {% if currentPath starts with '/aanbod' %}active{% endif%}">
        <a class="nav-link" href="{{ path('training_categories') }}"><i class="fas fa-swimmer d-lg-none"></i> Aanbod</a>
      </li>
      <li class="nav-item {% if currentPath == '/lid-worden' %}active{% endif%}">
        <a class="nav-link" href="/lid-worden"><i class="fas fa-hand-point-right d-lg-none"></i> Lid worden</a>
      </li>
      <li class="nav-item {% if currentPath starts with '/inschrijven' %}active{% endif%} mt-4 mt-lg-0 d-none">
        <a class="nav-link btn btn-outline-secondary" href="{{ path('enroll_list') }}"><i class="fas fa-check d-lg-none"></i> Inschrijven</a>
      </li>
      <li class="nav-item {% if currentPath starts with '/interscholen' %}active{% endif%} mt-4 mt-lg-0">
        <a class="nav-link btn btn-outline-secondary" href="/interscholen"><i class="fas fa-trophy d-lg-none"></i> Interscholen <span class="d-md-none d-xl-inline">Wedstrijd</span></a>
      </li>
    </ul>
    <ul class="navbar-nav flex-row ml-md-auto d-md-flex">
      <li class="nav-item {% if currentPath in ['/contact','/faq','/bestuur','/zwembad'] %}active{% endif%}">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation" onclick="$('.offcanvas-collapse').toggleClass('open');">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-2" href="https://nl-nl.facebook.com/hoogstratensZT/" target="_blank" rel="noopener" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-2" href="https://www.instagram.com/hozt16/" target="_blank" rel="noopener" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>
<!--
        <button class="btn btn-outline-secondary d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" type="submit" disabled>Inloggen</button>
-->
  </div>
</div>
</nav>
