<!-- NAVHEADER
================================================== -->
<div class="bg-white collapse fixed-top shadow-sm nav-header d-print-none" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4 text-muted">
        <div class="d-flex justify-content-between w-100">
          <h4 class="text-primary">Hoogstratens Zwem Team</h4>
          <a href="#" class="d-md-none" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"><i class="far fa-times"></i></a>
        </div>

        <blockquote class="blockquote">
          <p class="mb-0">Dé zwemploeg van Hoogstraten en omstreken!</p>
          <footer class="blockquote-footer">Sinds <cite>2016</cite></footer>
        </blockquote>
        <div class="row lead">
          <div class="col-sm-12 col-md-3"><span class="badge badge-dark" id="count-groepen">9</span> groepen</div>
          <div class="col-sm-12 col-md-3"><span class="badge badge-dark" id="count-trainers">10</span> trainers</div>
          <div class="col-sm-12 col-md-4"><span class="badge badge-dark" id="count-zwemmers">124</span> zwemmers</div>
        </div>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <div class="d-flex justify-content-between w-100">
          <h4 class="text-primary">Contact</h4>
          <a href="#" class="d-none d-md-block" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"><i class="far fa-times"></i></a>
        </div>
        <div class="small">{% include 'contact/description.html.twig' %}
          <p class="text-muted">Voor alle andere vragen vul je het <a href="{{ path('contact_form') }}" class="text-primary">contactformulier</a> in.</p>
        </div>
      </div>
    </div>
  </div>
</div>
