{% extends 'default.html.twig' %}

{% block title %}Inschrijvingen{% endblock %}

{% block main %}

  <div class="p-2 pb-3 p-md-3 mb-4 bg-white shadow-sm">

    <h2 class="text-red d-flex justify-content-between">Inschrijvingen</h2>
    <p class="lead"><i class="fas fa-wrench"></i> dit onderdeel van de website is nog onder constructie</p>

  </div>
{% endblock %}
