{% extends 'default.html.twig' %}

{% block title %}Aanbod{% endblock %}

{% block main %}

  <div class="p-3 mb-4 bg-white shadow-sm">

    <h1 class="text-primary">Trainers</h1>
    <p class="lead mb-4">De HoZT-trainers en hun groepen</p>

    <div class="row">

    {% for coach in page.head_coaches %}
        <div class="col col-12 col-md-6 mb-4">
            <div class="card groups border border-gray">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <div class="text-center">
                        <h4 class="card-title">{{ coach.name }}</h4>
                        <h6 class="card-subtitle mb-2 font-weight-light">hoofdtrainer</h6>
                        <p class="card-text">
                            {% for team in coach.teams %}
                            <span class="badge badge-medium">{{ team }}</span>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for coach in page.coaches %}
        <div class="col col-12 col-md-6 mb-4">
            <div class="card groups border border-gray">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <div class="text-center">
                        <h4 class="card-title">{{ coach.name }}</h4>
                        <p class="card-text">
                            {% for team in coach.teams %}
                            <span class="badge badge-medium">{{ team }}</span>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>

  </div>

{% endblock %}

