{# templates/bundles/TwigBundle/Exception/error403.html.twig #}
{% extends '_main.html.twig' %}

{% block title %}Pagina niet gevonden{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/login.css') }}" rel="stylesheet" />
{% endblock %}


{% block body %}

  <div class="col-12 col-md-6 offset-md-3 text-center">

    <img class="mb-4" src="{{ asset('assets/img/logo/Hozt.svg') }}" alt="" height="100">

    <h1 class="text-red pb-3">Oeps! Er gaat iets verkeerd</h1>

    <h2>Serverfout "<strong>403</strong> Geen toegang"</h2>

    <p style="font-size:7.5rem;" class="mb-0">&#x1f510;</p>

    <p class="lead">
        Je hebt geen toegang voor de opgevraagde pagina. <br>Controleer of je ingelogd bent
        of <a href="{{ path('homepage') }}">ga naar de startpagina</a>.
    </p>

  </div>

{% endblock %}
